// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2024.1.0.34.2
// Netlist written on Tue Sep 17 10:45:14 2024
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/users/mdesomma/documents/lab3/fpga/src/lab3_md.sv"
// file 1 "c:/users/mdesomma/documents/lab3/fpga/src/buttondecoder.sv"
// file 2 "c:/users/mdesomma/documents/lab3/fpga/src/buttonfsm.sv"
// file 3 "c:/users/mdesomma/documents/lab3/fpga/src/lab3_master.sv"
// file 4 "c:/users/mdesomma/documents/lab3/fpga/src/ledcontroller.sv"
// file 5 "c:/users/mdesomma/documents/lab3/fpga/src/sevensegment.sv"
// file 6 "c:/users/mdesomma/documents/lab3/fpga/src/synchronizer.sv"
// file 7 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ice40up.v"
// file 8 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ice40up.vhd"
// file 9 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 10 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 11 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 12 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 13 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 14 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 15 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 16 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/ib.v"
// file 17 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 18 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 19 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 20 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/ob.v"
// file 21 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 22 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 23 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 24 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/rgb.v"
// file 25 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 26 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 27 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/legacy.v"
// file 28 "c:/lscc/radiant/2024.1/ip/common/adder/rtl/lscc_adder.v"
// file 29 "c:/lscc/radiant/2024.1/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 30 "c:/lscc/radiant/2024.1/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 31 "c:/lscc/radiant/2024.1/ip/common/counter/rtl/lscc_cntr.v"
// file 32 "c:/lscc/radiant/2024.1/ip/common/fifo/rtl/lscc_fifo.v"
// file 33 "c:/lscc/radiant/2024.1/ip/common/fifo_dc/rtl/lscc_fifo_dc.v"
// file 34 "c:/lscc/radiant/2024.1/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 35 "c:/lscc/radiant/2024.1/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 36 "c:/lscc/radiant/2024.1/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 37 "c:/lscc/radiant/2024.1/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 38 "c:/lscc/radiant/2024.1/ip/common/ram_dp/rtl/lscc_ram_dp.v"
// file 39 "c:/lscc/radiant/2024.1/ip/common/ram_dq/rtl/lscc_ram_dq.v"
// file 40 "c:/lscc/radiant/2024.1/ip/common/rom/rtl/lscc_rom.v"
// file 41 "c:/lscc/radiant/2024.1/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 42 "c:/lscc/radiant/2024.1/ip/pmi/pmi_add.v"
// file 43 "c:/lscc/radiant/2024.1/ip/pmi/pmi_addsub.v"
// file 44 "c:/lscc/radiant/2024.1/ip/pmi/pmi_complex_mult.v"
// file 45 "c:/lscc/radiant/2024.1/ip/pmi/pmi_counter.v"
// file 46 "c:/lscc/radiant/2024.1/ip/pmi/pmi_dsp.v"
// file 47 "c:/lscc/radiant/2024.1/ip/pmi/pmi_fifo.v"
// file 48 "c:/lscc/radiant/2024.1/ip/pmi/pmi_fifo_dc.v"
// file 49 "c:/lscc/radiant/2024.1/ip/pmi/pmi_mac.v"
// file 50 "c:/lscc/radiant/2024.1/ip/pmi/pmi_mult.v"
// file 51 "c:/lscc/radiant/2024.1/ip/pmi/pmi_multaddsub.v"
// file 52 "c:/lscc/radiant/2024.1/ip/pmi/pmi_multaddsubsum.v"
// file 53 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ram_dp.v"
// file 54 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ram_dp_be.v"
// file 55 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ram_dq.v"
// file 56 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ram_dq_be.v"
// file 57 "c:/lscc/radiant/2024.1/ip/pmi/pmi_rom.v"
// file 58 "c:/lscc/radiant/2024.1/ip/pmi/pmi_sub.v"

//
// Verilog Description of module lab3_MD
//

module lab3_MD (input reset, input [3:0]c, output [3:0]r, output [6:0]seg, 
            output led1, output led2);
    
    (* is_clock=1, lineinfo="@0(10[55],10[62])" *) wire int_osc;
    
    wire VCC_net, reset_c, c_c_3, c_c_2, c_c_1, c_c_0, r_c_3, 
        r_c_2, r_c_1, r_c_0, seg_c_6, seg_c_5, seg_c_4, seg_c_3, 
        seg_c_2, seg_c_1, seg_c_0, led1_c, led1_c_N_116, GND_net;
    
    VLO i1 (.Z(GND_net));
    (* syn_instantiated=1 *) HSOSC_CORE hf_osc (.CLKHFPU(VCC_net), .CLKHFEN(VCC_net), 
            .TRIM9(GND_net), .TRIM8(GND_net), .TRIM7(GND_net), .TRIM6(GND_net), 
            .TRIM5(GND_net), .TRIM4(GND_net), .TRIM3(GND_net), .TRIM2(GND_net), 
            .TRIM1(GND_net), .TRIM0(GND_net), .CLKHF(int_osc));
    defparam hf_osc.CLKHF_DIV = "0b00";
    defparam hf_osc.FABRIC_TRIME = "DISABLE";
    (* lineinfo="@0(3[20],3[21])" *) IB \c_pad[0]  (.I(c[0]), .O(c_c_0));
    (* lineinfo="@0(3[20],3[21])" *) IB \c_pad[1]  (.I(c[1]), .O(c_c_1));
    (* lineinfo="@0(3[20],3[21])" *) IB \c_pad[2]  (.I(c[2]), .O(c_c_2));
    (* lineinfo="@0(3[20],3[21])" *) IB \c_pad[3]  (.I(c[3]), .O(c_c_3));
    (* lineinfo="@0(2[17],2[22])" *) IB reset_pad (.I(reset), .O(reset_c));
    (* lineinfo="@0(6[24],6[28])" *) OB led2_pad (.I(led1_c_N_116), .O(led2));
    (* lineinfo="@0(6[18],6[22])" *) OB led1_pad (.I(led1_c), .O(led1));
    (* lineinfo="@0(5[21],5[24])" *) OB \seg_pad[0]  (.I(seg_c_0), .O(seg[0]));
    (* lineinfo="@0(5[21],5[24])" *) OB \seg_pad[1]  (.I(seg_c_1), .O(seg[1]));
    (* lineinfo="@0(5[21],5[24])" *) OB \seg_pad[2]  (.I(seg_c_2), .O(seg[2]));
    (* lineinfo="@0(5[21],5[24])" *) OB \seg_pad[3]  (.I(seg_c_3), .O(seg[3]));
    (* lineinfo="@0(5[21],5[24])" *) OB \seg_pad[4]  (.I(seg_c_4), .O(seg[4]));
    (* lineinfo="@0(5[21],5[24])" *) OB \seg_pad[5]  (.I(seg_c_5), .O(seg[5]));
    (* lineinfo="@0(5[21],5[24])" *) OB \seg_pad[6]  (.I(seg_c_6), .O(seg[6]));
    (* lineinfo="@0(4[24],4[25])" *) OB \r_pad[0]  (.I(r_c_0), .O(r[0]));
    (* lineinfo="@0(4[24],4[25])" *) OB \r_pad[1]  (.I(r_c_1), .O(r[1]));
    (* lineinfo="@0(4[24],4[25])" *) OB \r_pad[2]  (.I(r_c_2), .O(r[2]));
    (* lineinfo="@0(4[24],4[25])" *) OB \r_pad[3]  (.I(r_c_3), .O(r[3]));
    VHI i2 (.Z(VCC_net));
    (* lineinfo="@0(12[14],12[56])" *) lab3_Master a1 (int_osc, c_c_2, r_c_0, 
            reset_c, r_c_3, r_c_2, r_c_1, c_c_0, c_c_1, c_c_3, 
            led1_c, led1_c_N_116, seg_c_3, seg_c_0, seg_c_6, seg_c_5, 
            seg_c_4, seg_c_2, seg_c_1);
    
endmodule

//
// Verilog Description of module lab3_Master
//

module lab3_Master (input int_osc, input c_c_2, output r_c_0, input reset_c, 
            output r_c_3, output r_c_2, output r_c_1, input c_c_0, input c_c_1, 
            input c_c_3, output led1_c, output led1_c_N_116, output seg_c_3, 
            output seg_c_0, output seg_c_6, output seg_c_5, output seg_c_4, 
            output seg_c_2, output seg_c_1);
    
    (* is_clock=1, lineinfo="@0(10[55],10[62])" *) wire int_osc;
    (* is_clock=1, lineinfo="@3(12[8],12[14])" *) wire toggle;
    
    wire n1191, n2488, GND_net;
    (* lineinfo="@3(11[15],11[22])" *) wire [24:0]counter;
    wire [24:0]n105;
    
    wire n504, n1189, n2485, n1187, n2482, n1185, n2479, n1183, 
        n2476, n1181, n2473, n1179, n2470, n1177, n2467, n1175, 
        n2464, n1173, n2461, n1171, n2458, n1169, n2455, n2452, 
        n30, n34, n32, n33, n31, n1453, n6, n448, VCC_net;
    
    (* lineinfo="@3(14[24],14[35])" *) FA2 counter_167_add_4_25 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[23]), .D0(n1191), .CI0(n1191), 
            .A1(GND_net), .B1(GND_net), .C1(counter[24]), .D1(n2488), 
            .CI1(n2488), .CO0(n2488), .S0(n105[23]), .S1(n105[24]));
    defparam counter_167_add_4_25.INIT0 = "0xc33c";
    defparam counter_167_add_4_25.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@3(14[24],14[35])" *) FD1P3XZ counter_167__i24 (.D(n105[24]), 
            .SP(VCC_net), .CK(int_osc), .SR(n504), .Q(counter[24]));
    defparam counter_167__i24.REGSET = "RESET";
    defparam counter_167__i24.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@3(14[24],14[35])" *) FA2 counter_167_add_4_23 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[21]), .D0(n1189), .CI0(n1189), 
            .A1(GND_net), .B1(GND_net), .C1(counter[22]), .D1(n2485), 
            .CI1(n2485), .CO0(n2485), .CO1(n1191), .S0(n105[21]), .S1(n105[22]));
    defparam counter_167_add_4_23.INIT0 = "0xc33c";
    defparam counter_167_add_4_23.INIT1 = "0xc33c";
    (* lineinfo="@3(14[24],14[35])" *) FA2 counter_167_add_4_21 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[19]), .D0(n1187), .CI0(n1187), 
            .A1(GND_net), .B1(GND_net), .C1(counter[20]), .D1(n2482), 
            .CI1(n2482), .CO0(n2482), .CO1(n1189), .S0(n105[19]), .S1(n105[20]));
    defparam counter_167_add_4_21.INIT0 = "0xc33c";
    defparam counter_167_add_4_21.INIT1 = "0xc33c";
    (* lineinfo="@3(14[24],14[35])" *) FA2 counter_167_add_4_19 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[17]), .D0(n1185), .CI0(n1185), 
            .A1(GND_net), .B1(GND_net), .C1(counter[18]), .D1(n2479), 
            .CI1(n2479), .CO0(n2479), .CO1(n1187), .S0(n105[17]), .S1(n105[18]));
    defparam counter_167_add_4_19.INIT0 = "0xc33c";
    defparam counter_167_add_4_19.INIT1 = "0xc33c";
    (* lineinfo="@3(14[24],14[35])" *) FA2 counter_167_add_4_17 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[15]), .D0(n1183), .CI0(n1183), 
            .A1(GND_net), .B1(GND_net), .C1(counter[16]), .D1(n2476), 
            .CI1(n2476), .CO0(n2476), .CO1(n1185), .S0(n105[15]), .S1(n105[16]));
    defparam counter_167_add_4_17.INIT0 = "0xc33c";
    defparam counter_167_add_4_17.INIT1 = "0xc33c";
    (* lineinfo="@3(14[24],14[35])" *) FA2 counter_167_add_4_15 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[13]), .D0(n1181), .CI0(n1181), 
            .A1(GND_net), .B1(GND_net), .C1(counter[14]), .D1(n2473), 
            .CI1(n2473), .CO0(n2473), .CO1(n1183), .S0(n105[13]), .S1(n105[14]));
    defparam counter_167_add_4_15.INIT0 = "0xc33c";
    defparam counter_167_add_4_15.INIT1 = "0xc33c";
    (* lineinfo="@3(14[24],14[35])" *) FA2 counter_167_add_4_13 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[11]), .D0(n1179), .CI0(n1179), 
            .A1(GND_net), .B1(GND_net), .C1(counter[12]), .D1(n2470), 
            .CI1(n2470), .CO0(n2470), .CO1(n1181), .S0(n105[11]), .S1(n105[12]));
    defparam counter_167_add_4_13.INIT0 = "0xc33c";
    defparam counter_167_add_4_13.INIT1 = "0xc33c";
    (* lineinfo="@3(14[24],14[35])" *) FA2 counter_167_add_4_11 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[9]), .D0(n1177), .CI0(n1177), 
            .A1(GND_net), .B1(GND_net), .C1(counter[10]), .D1(n2467), 
            .CI1(n2467), .CO0(n2467), .CO1(n1179), .S0(n105[9]), .S1(n105[10]));
    defparam counter_167_add_4_11.INIT0 = "0xc33c";
    defparam counter_167_add_4_11.INIT1 = "0xc33c";
    (* lineinfo="@3(14[24],14[35])" *) FA2 counter_167_add_4_9 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[7]), .D0(n1175), .CI0(n1175), 
            .A1(GND_net), .B1(GND_net), .C1(counter[8]), .D1(n2464), 
            .CI1(n2464), .CO0(n2464), .CO1(n1177), .S0(n105[7]), .S1(n105[8]));
    defparam counter_167_add_4_9.INIT0 = "0xc33c";
    defparam counter_167_add_4_9.INIT1 = "0xc33c";
    (* lineinfo="@3(14[24],14[35])" *) FA2 counter_167_add_4_7 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[5]), .D0(n1173), .CI0(n1173), 
            .A1(GND_net), .B1(GND_net), .C1(counter[6]), .D1(n2461), 
            .CI1(n2461), .CO0(n2461), .CO1(n1175), .S0(n105[5]), .S1(n105[6]));
    defparam counter_167_add_4_7.INIT0 = "0xc33c";
    defparam counter_167_add_4_7.INIT1 = "0xc33c";
    (* lineinfo="@3(14[24],14[35])" *) FA2 counter_167_add_4_5 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[3]), .D0(n1171), .CI0(n1171), 
            .A1(GND_net), .B1(GND_net), .C1(counter[4]), .D1(n2458), 
            .CI1(n2458), .CO0(n2458), .CO1(n1173), .S0(n105[3]), .S1(n105[4]));
    defparam counter_167_add_4_5.INIT0 = "0xc33c";
    defparam counter_167_add_4_5.INIT1 = "0xc33c";
    (* lineinfo="@3(14[24],14[35])" *) FA2 counter_167_add_4_3 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[1]), .D0(n1169), .CI0(n1169), 
            .A1(GND_net), .B1(GND_net), .C1(counter[2]), .D1(n2455), 
            .CI1(n2455), .CO0(n2455), .CO1(n1171), .S0(n105[1]), .S1(n105[2]));
    defparam counter_167_add_4_3.INIT0 = "0xc33c";
    defparam counter_167_add_4_3.INIT1 = "0xc33c";
    (* lineinfo="@3(14[24],14[35])" *) FA2 counter_167_add_4_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(VCC_net), 
            .C1(counter[0]), .D1(n2452), .CI1(n2452), .CO0(n2452), .CO1(n1169), 
            .S1(n105[0]));
    defparam counter_167_add_4_1.INIT0 = "0xc33c";
    defparam counter_167_add_4_1.INIT1 = "0xc33c";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@3(15[7],15[22])" *) LUT4 i11_4_lut (.A(counter[10]), 
            .B(counter[19]), .C(counter[16]), .D(counter[0]), .Z(n30));
    defparam i11_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@3(15[7],15[22])" *) LUT4 i15_4_lut (.A(counter[2]), 
            .B(n30), .C(counter[21]), .D(counter[17]), .Z(n34));
    defparam i15_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@3(15[7],15[22])" *) LUT4 i13_4_lut (.A(counter[14]), 
            .B(counter[1]), .C(counter[15]), .D(counter[12]), .Z(n32));
    defparam i13_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@3(15[7],15[22])" *) LUT4 i14_4_lut (.A(counter[20]), 
            .B(counter[13]), .C(counter[4]), .D(counter[18]), .Z(n33));
    defparam i14_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@3(15[7],15[22])" *) LUT4 i12_4_lut (.A(counter[24]), 
            .B(counter[22]), .C(counter[11]), .D(counter[23]), .Z(n31));
    defparam i12_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@3(15[7],15[22])" *) LUT4 i18_4_lut (.A(n31), 
            .B(n33), .C(n32), .D(n34), .Z(n1453));
    defparam i18_4_lut.INIT = "0xfffe";
    (* lut_function="(!(((C+!(D))+!B)+!A))", lineinfo="@3(15[7],15[22])" *) LUT4 i1_4_lut (.A(counter[7]), 
            .B(counter[6]), .C(n1453), .D(counter[8]), .Z(n6));
    defparam i1_4_lut.INIT = "0x0800";
    (* lut_function="(A (B (C (D))))", lineinfo="@3(15[7],15[22])" *) LUT4 i4_4_lut (.A(counter[9]), 
            .B(counter[3]), .C(counter[5]), .D(n6), .Z(n504));
    defparam i4_4_lut.INIT = "0x8000";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=14, LSE_RCOL=56, LSE_LLINE=12, LSE_RLINE=12, lineinfo="@3(13[12],19[6])" *) FD1P3XZ toggle_c (.D(n448), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(toggle));
    defparam toggle_c.REGSET = "RESET";
    defparam toggle_c.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A (B)+!A !(B)))" *) LUT4 i1_2_lut (.A(toggle), .B(n504), 
            .Z(n448));
    defparam i1_2_lut.INIT = "0x6666";
    (* syn_use_carry_chain=1, lineinfo="@3(14[24],14[35])" *) FD1P3XZ counter_167__i23 (.D(n105[23]), 
            .SP(VCC_net), .CK(int_osc), .SR(n504), .Q(counter[23]));
    defparam counter_167__i23.REGSET = "RESET";
    defparam counter_167__i23.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@3(14[24],14[35])" *) FD1P3XZ counter_167__i22 (.D(n105[22]), 
            .SP(VCC_net), .CK(int_osc), .SR(n504), .Q(counter[22]));
    defparam counter_167__i22.REGSET = "RESET";
    defparam counter_167__i22.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@3(14[24],14[35])" *) FD1P3XZ counter_167__i21 (.D(n105[21]), 
            .SP(VCC_net), .CK(int_osc), .SR(n504), .Q(counter[21]));
    defparam counter_167__i21.REGSET = "RESET";
    defparam counter_167__i21.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@3(14[24],14[35])" *) FD1P3XZ counter_167__i20 (.D(n105[20]), 
            .SP(VCC_net), .CK(int_osc), .SR(n504), .Q(counter[20]));
    defparam counter_167__i20.REGSET = "RESET";
    defparam counter_167__i20.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@3(14[24],14[35])" *) FD1P3XZ counter_167__i19 (.D(n105[19]), 
            .SP(VCC_net), .CK(int_osc), .SR(n504), .Q(counter[19]));
    defparam counter_167__i19.REGSET = "RESET";
    defparam counter_167__i19.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@3(14[24],14[35])" *) FD1P3XZ counter_167__i18 (.D(n105[18]), 
            .SP(VCC_net), .CK(int_osc), .SR(n504), .Q(counter[18]));
    defparam counter_167__i18.REGSET = "RESET";
    defparam counter_167__i18.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@3(14[24],14[35])" *) FD1P3XZ counter_167__i17 (.D(n105[17]), 
            .SP(VCC_net), .CK(int_osc), .SR(n504), .Q(counter[17]));
    defparam counter_167__i17.REGSET = "RESET";
    defparam counter_167__i17.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@3(14[24],14[35])" *) FD1P3XZ counter_167__i16 (.D(n105[16]), 
            .SP(VCC_net), .CK(int_osc), .SR(n504), .Q(counter[16]));
    defparam counter_167__i16.REGSET = "RESET";
    defparam counter_167__i16.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@3(14[24],14[35])" *) FD1P3XZ counter_167__i15 (.D(n105[15]), 
            .SP(VCC_net), .CK(int_osc), .SR(n504), .Q(counter[15]));
    defparam counter_167__i15.REGSET = "RESET";
    defparam counter_167__i15.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@3(14[24],14[35])" *) FD1P3XZ counter_167__i14 (.D(n105[14]), 
            .SP(VCC_net), .CK(int_osc), .SR(n504), .Q(counter[14]));
    defparam counter_167__i14.REGSET = "RESET";
    defparam counter_167__i14.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@3(14[24],14[35])" *) FD1P3XZ counter_167__i13 (.D(n105[13]), 
            .SP(VCC_net), .CK(int_osc), .SR(n504), .Q(counter[13]));
    defparam counter_167__i13.REGSET = "RESET";
    defparam counter_167__i13.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@3(14[24],14[35])" *) FD1P3XZ counter_167__i12 (.D(n105[12]), 
            .SP(VCC_net), .CK(int_osc), .SR(n504), .Q(counter[12]));
    defparam counter_167__i12.REGSET = "RESET";
    defparam counter_167__i12.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@3(14[24],14[35])" *) FD1P3XZ counter_167__i11 (.D(n105[11]), 
            .SP(VCC_net), .CK(int_osc), .SR(n504), .Q(counter[11]));
    defparam counter_167__i11.REGSET = "RESET";
    defparam counter_167__i11.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@3(14[24],14[35])" *) FD1P3XZ counter_167__i10 (.D(n105[10]), 
            .SP(VCC_net), .CK(int_osc), .SR(n504), .Q(counter[10]));
    defparam counter_167__i10.REGSET = "RESET";
    defparam counter_167__i10.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@3(14[24],14[35])" *) FD1P3XZ counter_167__i9 (.D(n105[9]), 
            .SP(VCC_net), .CK(int_osc), .SR(n504), .Q(counter[9]));
    defparam counter_167__i9.REGSET = "RESET";
    defparam counter_167__i9.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@3(14[24],14[35])" *) FD1P3XZ counter_167__i8 (.D(n105[8]), 
            .SP(VCC_net), .CK(int_osc), .SR(n504), .Q(counter[8]));
    defparam counter_167__i8.REGSET = "RESET";
    defparam counter_167__i8.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@3(14[24],14[35])" *) FD1P3XZ counter_167__i7 (.D(n105[7]), 
            .SP(VCC_net), .CK(int_osc), .SR(n504), .Q(counter[7]));
    defparam counter_167__i7.REGSET = "RESET";
    defparam counter_167__i7.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@3(14[24],14[35])" *) FD1P3XZ counter_167__i6 (.D(n105[6]), 
            .SP(VCC_net), .CK(int_osc), .SR(n504), .Q(counter[6]));
    defparam counter_167__i6.REGSET = "RESET";
    defparam counter_167__i6.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@3(14[24],14[35])" *) FD1P3XZ counter_167__i5 (.D(n105[5]), 
            .SP(VCC_net), .CK(int_osc), .SR(n504), .Q(counter[5]));
    defparam counter_167__i5.REGSET = "RESET";
    defparam counter_167__i5.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@3(14[24],14[35])" *) FD1P3XZ counter_167__i4 (.D(n105[4]), 
            .SP(VCC_net), .CK(int_osc), .SR(n504), .Q(counter[4]));
    defparam counter_167__i4.REGSET = "RESET";
    defparam counter_167__i4.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@3(14[24],14[35])" *) FD1P3XZ counter_167__i3 (.D(n105[3]), 
            .SP(VCC_net), .CK(int_osc), .SR(n504), .Q(counter[3]));
    defparam counter_167__i3.REGSET = "RESET";
    defparam counter_167__i3.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@3(14[24],14[35])" *) FD1P3XZ counter_167__i2 (.D(n105[2]), 
            .SP(VCC_net), .CK(int_osc), .SR(n504), .Q(counter[2]));
    defparam counter_167__i2.REGSET = "RESET";
    defparam counter_167__i2.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@3(14[24],14[35])" *) FD1P3XZ counter_167__i1 (.D(n105[1]), 
            .SP(VCC_net), .CK(int_osc), .SR(n504), .Q(counter[1]));
    defparam counter_167__i1.REGSET = "RESET";
    defparam counter_167__i1.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@3(22[15],22[56])" *) synchronizer a2 (toggle, c_c_2, r_c_0, 
            reset_c, r_c_3, r_c_2, r_c_1, c_c_0, c_c_1, c_c_3, 
            led1_c, led1_c_N_116, seg_c_3, seg_c_0, seg_c_6, seg_c_5, 
            seg_c_4, seg_c_2, seg_c_1);
    VHI i2 (.Z(VCC_net));
    (* syn_use_carry_chain=1, lineinfo="@3(14[24],14[35])" *) FD1P3XZ counter_167__i0 (.D(n105[0]), 
            .SP(VCC_net), .CK(int_osc), .SR(n504), .Q(counter[0]));
    defparam counter_167__i0.REGSET = "RESET";
    defparam counter_167__i0.SRMODE = "CE_OVER_LSR";
    VLO i1 (.Z(GND_net));
    
endmodule

//
// Verilog Description of module synchronizer
//

module synchronizer (input toggle, input c_c_2, output r_c_0, input reset_c, 
            output r_c_3, output r_c_2, output r_c_1, input c_c_0, input c_c_1, 
            input c_c_3, output led1_c, output led1_c_N_116, output seg_c_3, 
            output seg_c_0, output seg_c_6, output seg_c_5, output seg_c_4, 
            output seg_c_2, output seg_c_1);
    
    (* is_clock=1, lineinfo="@3(12[8],12[14])" *) wire toggle;
    
    (* lineinfo="@6(23[15],23[56])" *) buttonFSM synced (toggle, c_c_2, 
            r_c_0, reset_c, r_c_3, r_c_2, r_c_1, c_c_0, c_c_1, 
            c_c_3, led1_c, led1_c_N_116, seg_c_3, seg_c_0, seg_c_6, 
            seg_c_5, seg_c_4, seg_c_2, seg_c_1);
    
endmodule

//
// Verilog Description of module buttonFSM
//

module buttonFSM (input toggle, input c_c_2, output r_c_0, input reset_c, 
            output r_c_3, output r_c_2, output r_c_1, input c_c_0, input c_c_1, 
            input c_c_3, output led1_c, output led1_c_N_116, output seg_c_3, 
            output seg_c_0, output seg_c_6, output seg_c_5, output seg_c_4, 
            output seg_c_2, output seg_c_1);
    
    (* is_clock=1, lineinfo="@3(12[8],12[14])" *) wire toggle;
    
    wire n168, n2311, n170, n2318, n2306, n2308, n172, n174_kb_in, 
        n414;
    wire [15:0]r_c_3_N_93;
    
    wire state_FSM_illegal, n88, VCC_net, n468, n145, n402, n416, 
        n404, n513, n137, n420, n129, n400, n121, n1165, n2527, 
        GND_net;
    (* lineinfo="@2(12[15],12[22])" *) wire [24:0]counter;
    wire [24:0]n105;
    
    wire n1163, n2524, n1161, n2521, n1159, n2518, n1157, n2515, 
        n1155, n2512, n1153, n2509, n1151, n2506, n1149, n2503, 
        n1147, n2500, n406, n1145, n2497, n418, n1143, n2494, 
        n24, n23, n11, n2491, n25, n500, n234, n159, n2326, 
        n2323, n158, n162, n164, n166;
    (* lineinfo="@2(9[32],9[33])" *) wire [3:0]s;
    
    (* lut_function="(A (B+((D)+!C))+!A (B (C)+!B (C (D))))", lineinfo="@2(52[3],86[10])" *) LUT4 i126_4_lut (.A(n168), 
            .B(n2311), .C(r_c_3_N_93[9]), .D(r_c_3_N_93[8]), .Z(n170));
    defparam i126_4_lut.INIT = "0xfaca";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@2(52[3],86[10])" *) LUT4 i127_rep_19_4_lut (.A(n2318), 
            .B(r_c_3_N_93[9]), .C(r_c_3_N_93[8]), .D(r_c_3_N_93[7]), .Z(n2306));
    defparam i127_rep_19_4_lut.INIT = "0xfffe";
    (* lut_function="(A (B+((D)+!C))+!A (B (C)+!B (C (D))))", lineinfo="@2(52[3],86[10])" *) LUT4 i128_4_lut (.A(n170), 
            .B(n2308), .C(r_c_3_N_93[10]), .D(r_c_3_N_93[9]), .Z(n172));
    defparam i128_4_lut.INIT = "0xfaca";
    (* lut_function="(A (B+((D)+!C))+!A (B (C)+!B (C (D))))", lineinfo="@2(52[3],86[10])" *) LUT4 i130_4_lut (.A(n172), 
            .B(n2306), .C(r_c_3_N_93[11]), .D(r_c_3_N_93[10]), .Z(n174_kb_in));
    defparam i130_4_lut.INIT = "0xfaca";
    (* syn_use_carry_chain=1, lineinfo="@2(34[15],34[26])" *) FD1P3XZ counter_169__i1 (.D(n105[0]), 
            .SP(VCC_net), .CK(toggle), .SR(n500), .Q(n25));
    defparam counter_169__i1.REGSET = "RESET";
    defparam counter_169__i1.SRMODE = "CE_OVER_LSR";
    VLO i1 (.Z(GND_net));
    (* lut_function="(A (C)+!A (B (C)))", lineinfo="@2(40[25],40[50])" *) LUT4 i101_2_lut_3_lut (.A(c_c_2), 
            .B(n468), .C(r_c_3_N_93[9]), .Z(n145));
    defparam i101_2_lut_3_lut.INIT = "0xe0e0";
    (* lut_function="(A (C+(D))+!A (B (C+(D))))", lineinfo="@2(40[25],40[50])" *) LUT4 i334_2_lut_3_lut_4_lut (.A(c_c_2), 
            .B(n468), .C(r_c_3_N_93[7]), .D(r_c_3_N_93[8]), .Z(n402));
    defparam i334_2_lut_3_lut_4_lut.INIT = "0xeee0";
    (* lut_function="(!(A+(B+!(C))))", lineinfo="@2(40[25],40[50])" *) LUT4 i344_2_lut_3_lut (.A(c_c_2), 
            .B(n468), .C(r_c_0), .Z(n416));
    defparam i344_2_lut_3_lut.INIT = "0x1010";
    (* lut_function="(A (C+(D))+!A (B (C+(D))))", lineinfo="@2(40[25],40[50])" *) LUT4 i335_2_lut_3_lut_4_lut (.A(c_c_2), 
            .B(n468), .C(r_c_3_N_93[4]), .D(r_c_3_N_93[5]), .Z(n404));
    defparam i335_2_lut_3_lut_4_lut.INIT = "0xeee0";
    (* lut_function="(A (B))", lineinfo="@2(52[3],86[10])" *) LUT4 i439_2_lut (.A(reset_c), 
            .B(n174_kb_in), .Z(n513));
    defparam i439_2_lut.INIT = "0x8888";
    (* lut_function="(A (C)+!A (B (C)))", lineinfo="@2(40[25],40[50])" *) LUT4 i93_2_lut_3_lut (.A(c_c_2), 
            .B(n468), .C(n88), .Z(n137));
    defparam i93_2_lut_3_lut.INIT = "0xe0e0";
    (* lut_function="(!(A+(B+!(C))))", lineinfo="@2(40[25],40[50])" *) LUT4 i343_2_lut_3_lut (.A(c_c_2), 
            .B(n468), .C(r_c_3), .Z(n414));
    defparam i343_2_lut_3_lut.INIT = "0x1010";
    (* lut_function="(!(A+(B+!(C))))", lineinfo="@2(40[25],40[50])" *) LUT4 i346_2_lut_3_lut (.A(c_c_2), 
            .B(n468), .C(r_c_2), .Z(n420));
    defparam i346_2_lut_3_lut.INIT = "0x1010";
    (* lut_function="(A (C)+!A (B (C)))", lineinfo="@2(40[25],40[50])" *) LUT4 i85_2_lut_3_lut (.A(c_c_2), 
            .B(n468), .C(r_c_3_N_93[3]), .Z(n129));
    defparam i85_2_lut_3_lut.INIT = "0xe0e0";
    (* lut_function="(A (C+(D))+!A (B (C+(D))))", lineinfo="@2(40[25],40[50])" *) LUT4 i333_2_lut_3_lut_4_lut (.A(c_c_2), 
            .B(n468), .C(r_c_3_N_93[10]), .D(r_c_3_N_93[11]), .Z(n400));
    defparam i333_2_lut_3_lut_4_lut.INIT = "0xeee0";
    (* lut_function="(A (C)+!A (B (C)))", lineinfo="@2(40[25],40[50])" *) LUT4 i77_2_lut_3_lut (.A(c_c_2), 
            .B(n468), .C(r_c_3_N_93[0]), .Z(n121));
    defparam i77_2_lut_3_lut.INIT = "0xe0e0";
    (* lineinfo="@2(34[15],34[26])" *) FA2 counter_169_add_4_25 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[23]), .D0(n1165), .CI0(n1165), 
            .A1(GND_net), .B1(GND_net), .C1(counter[24]), .D1(n2527), 
            .CI1(n2527), .CO0(n2527), .S0(n105[23]), .S1(n105[24]));
    defparam counter_169_add_4_25.INIT0 = "0xc33c";
    defparam counter_169_add_4_25.INIT1 = "0xc33c";
    (* lineinfo="@2(34[15],34[26])" *) FA2 counter_169_add_4_23 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[21]), .D0(n1163), .CI0(n1163), 
            .A1(GND_net), .B1(GND_net), .C1(counter[22]), .D1(n2524), 
            .CI1(n2524), .CO0(n2524), .CO1(n1165), .S0(n105[21]), .S1(n105[22]));
    defparam counter_169_add_4_23.INIT0 = "0xc33c";
    defparam counter_169_add_4_23.INIT1 = "0xc33c";
    (* lineinfo="@2(34[15],34[26])" *) FA2 counter_169_add_4_21 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[19]), .D0(n1161), .CI0(n1161), 
            .A1(GND_net), .B1(GND_net), .C1(counter[20]), .D1(n2521), 
            .CI1(n2521), .CO0(n2521), .CO1(n1163), .S0(n105[19]), .S1(n105[20]));
    defparam counter_169_add_4_21.INIT0 = "0xc33c";
    defparam counter_169_add_4_21.INIT1 = "0xc33c";
    (* lineinfo="@2(34[15],34[26])" *) FA2 counter_169_add_4_19 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[17]), .D0(n1159), .CI0(n1159), 
            .A1(GND_net), .B1(GND_net), .C1(counter[18]), .D1(n2518), 
            .CI1(n2518), .CO0(n2518), .CO1(n1161), .S0(n105[17]), .S1(n105[18]));
    defparam counter_169_add_4_19.INIT0 = "0xc33c";
    defparam counter_169_add_4_19.INIT1 = "0xc33c";
    (* lineinfo="@2(34[15],34[26])" *) FA2 counter_169_add_4_17 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[15]), .D0(n1157), .CI0(n1157), 
            .A1(GND_net), .B1(GND_net), .C1(counter[16]), .D1(n2515), 
            .CI1(n2515), .CO0(n2515), .CO1(n1159), .S0(n105[15]), .S1(n105[16]));
    defparam counter_169_add_4_17.INIT0 = "0xc33c";
    defparam counter_169_add_4_17.INIT1 = "0xc33c";
    (* lineinfo="@2(34[15],34[26])" *) FA2 counter_169_add_4_15 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[13]), .D0(n1155), .CI0(n1155), 
            .A1(GND_net), .B1(GND_net), .C1(counter[14]), .D1(n2512), 
            .CI1(n2512), .CO0(n2512), .CO1(n1157), .S0(n105[13]), .S1(n105[14]));
    defparam counter_169_add_4_15.INIT0 = "0xc33c";
    defparam counter_169_add_4_15.INIT1 = "0xc33c";
    (* lineinfo="@2(34[15],34[26])" *) FA2 counter_169_add_4_13 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[11]), .D0(n1153), .CI0(n1153), 
            .A1(GND_net), .B1(GND_net), .C1(counter[12]), .D1(n2509), 
            .CI1(n2509), .CO0(n2509), .CO1(n1155), .S0(n105[11]), .S1(n105[12]));
    defparam counter_169_add_4_13.INIT0 = "0xc33c";
    defparam counter_169_add_4_13.INIT1 = "0xc33c";
    (* lineinfo="@2(34[15],34[26])" *) FA2 counter_169_add_4_11 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[9]), .D0(n1151), .CI0(n1151), 
            .A1(GND_net), .B1(GND_net), .C1(counter[10]), .D1(n2506), 
            .CI1(n2506), .CO0(n2506), .CO1(n1153), .S0(n105[9]), .S1(n105[10]));
    defparam counter_169_add_4_11.INIT0 = "0xc33c";
    defparam counter_169_add_4_11.INIT1 = "0xc33c";
    (* lineinfo="@2(34[15],34[26])" *) FA2 counter_169_add_4_9 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[7]), .D0(n1149), .CI0(n1149), 
            .A1(GND_net), .B1(GND_net), .C1(counter[8]), .D1(n2503), 
            .CI1(n2503), .CO0(n2503), .CO1(n1151), .S0(n105[7]), .S1(n105[8]));
    defparam counter_169_add_4_9.INIT0 = "0xc33c";
    defparam counter_169_add_4_9.INIT1 = "0xc33c";
    (* lineinfo="@2(34[15],34[26])" *) FA2 counter_169_add_4_7 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[5]), .D0(n1147), .CI0(n1147), 
            .A1(GND_net), .B1(GND_net), .C1(counter[6]), .D1(n2500), 
            .CI1(n2500), .CO0(n2500), .CO1(n1149), .S0(n105[5]), .S1(n105[6]));
    defparam counter_169_add_4_7.INIT0 = "0xc33c";
    defparam counter_169_add_4_7.INIT1 = "0xc33c";
    (* lut_function="(A (C+(D))+!A (B (C+(D))))", lineinfo="@2(40[25],40[50])" *) LUT4 i336_3_lut_4_lut (.A(c_c_2), 
            .B(n468), .C(r_c_3_N_93[1]), .D(r_c_3_N_93[2]), .Z(n406));
    defparam i336_3_lut_4_lut.INIT = "0xeee0";
    (* lineinfo="@2(34[15],34[26])" *) FA2 counter_169_add_4_5 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[3]), .D0(n1145), .CI0(n1145), 
            .A1(GND_net), .B1(GND_net), .C1(counter[4]), .D1(n2497), 
            .CI1(n2497), .CO0(n2497), .CO1(n1147), .S0(n105[3]), .S1(n105[4]));
    defparam counter_169_add_4_5.INIT0 = "0xc33c";
    defparam counter_169_add_4_5.INIT1 = "0xc33c";
    (* lut_function="(!(A+(B+!(C))))", lineinfo="@2(40[25],40[50])" *) LUT4 i345_2_lut_3_lut (.A(c_c_2), 
            .B(n468), .C(r_c_1), .Z(n418));
    defparam i345_2_lut_3_lut.INIT = "0x1010";
    (* lut_function="(A+(B+(C)))", lineinfo="@2(52[3],86[10])" *) LUT4 i2_2_lut_3_lut (.A(r_c_3_N_93[11]), 
            .B(r_c_3_N_93[10]), .C(r_c_3_N_93[9]), .Z(r_c_3));
    defparam i2_2_lut_3_lut.INIT = "0xfefe";
    (* lineinfo="@2(34[15],34[26])" *) FA2 counter_169_add_4_3 (.A0(GND_net), 
            .B0(GND_net), .C0(n24), .D0(n1143), .CI0(n1143), .A1(GND_net), 
            .B1(GND_net), .C1(n23), .D1(n2494), .CI1(n2494), .CO0(n2494), 
            .CO1(n1145), .S0(n105[1]), .S1(n105[2]));
    defparam counter_169_add_4_3.INIT0 = "0xc33c";
    defparam counter_169_add_4_3.INIT1 = "0xc33c";
    (* lut_function="(A+(B+((D)+!C)))", lineinfo="@2(40[25],40[36])" *) LUT4 i2_3_lut_4_lut (.A(c_c_0), 
            .B(c_c_1), .C(c_c_3), .D(c_c_2), .Z(n11));
    defparam i2_3_lut_4_lut.INIT = "0xffef";
    (* lut_function="(A+(B+(C)))", lineinfo="@2(40[25],40[36])" *) LUT4 i1_2_lut_3_lut (.A(c_c_0), 
            .B(c_c_1), .C(c_c_3), .Z(n468));
    defparam i1_2_lut_3_lut.INIT = "0xfefe";
    (* lineinfo="@2(34[15],34[26])" *) FA2 counter_169_add_4_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(VCC_net), 
            .C1(n25), .D1(n2491), .CI1(n2491), .CO0(n2491), .CO1(n1143), 
            .S1(n105[0]));
    defparam counter_169_add_4_1.INIT0 = "0xc33c";
    defparam counter_169_add_4_1.INIT1 = "0xc33c";
    (* lut_function="(A+(B+(C)))", lineinfo="@2(52[3],86[10])" *) LUT4 i2_2_lut_3_lut_adj_77 (.A(r_c_3_N_93[5]), 
            .B(r_c_3_N_93[4]), .C(r_c_3_N_93[3]), .Z(r_c_1));
    defparam i2_2_lut_3_lut_adj_77.INIT = "0xfefe";
    (* lut_function="(A+(B+(C)))", lineinfo="@2(43[16],43[61])" *) LUT4 i2_3_lut (.A(r_c_3_N_93[2]), 
            .B(r_c_3_N_93[1]), .C(r_c_3_N_93[0]), .Z(r_c_0));
    defparam i2_3_lut.INIT = "0xfefe";
    (* lineinfo="@2(52[3],86[10])" *) FD1P3XZ state_FSM_i12 (.D(n400), .SP(VCC_net), 
            .CK(toggle), .SR(state_FSM_illegal), .Q(r_c_3_N_93[11]));
    defparam state_FSM_i12.REGSET = "RESET";
    defparam state_FSM_i12.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A+(B+(C)))", lineinfo="@2(52[3],86[10])" *) LUT4 i2_2_lut_3_lut_adj_78 (.A(r_c_3_N_93[8]), 
            .B(r_c_3_N_93[7]), .C(n88), .Z(r_c_2));
    defparam i2_2_lut_3_lut_adj_78.INIT = "0xfefe";
    (* lut_function="((B)+!A)", lineinfo="@2(52[3],86[10])" *) LUT4 i133_2_lut (.A(reset_c), 
            .B(n234), .Z(state_FSM_illegal));
    defparam i133_2_lut.INIT = "0xdddd";
    (* lut_function="(!(A+(B+(C+(D)))))", lineinfo="@2(33[6],33[68])" *) LUT4 i1660_4_lut (.A(r_c_3_N_93[2]), 
            .B(r_c_3_N_93[11]), .C(r_c_3_N_93[8]), .D(r_c_3_N_93[5]), 
            .Z(n500));
    defparam i1660_4_lut.INIT = "0x0001";
    (* lineinfo="@2(52[3],86[10])" *) FD1P3XZ state_FSM_i11 (.D(n145), .SP(VCC_net), 
            .CK(toggle), .SR(state_FSM_illegal), .Q(r_c_3_N_93[10]));
    defparam state_FSM_i11.REGSET = "RESET";
    defparam state_FSM_i11.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@2(52[3],86[10])" *) FD1P3XZ state_FSM_i10 (.D(n420), .SP(VCC_net), 
            .CK(toggle), .SR(state_FSM_illegal), .Q(r_c_3_N_93[9]));
    defparam state_FSM_i10.REGSET = "RESET";
    defparam state_FSM_i10.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@2(52[3],86[10])" *) LUT4 i115_4_lut (.A(r_c_3_N_93[0]), 
            .B(r_c_3_N_93[3]), .C(r_c_3_N_93[2]), .D(r_c_3_N_93[1]), .Z(n159));
    defparam i115_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B))", lineinfo="@2(52[3],86[10])" *) LUT4 i117_rep_39_2_lut (.A(n159), 
            .B(r_c_3_N_93[4]), .Z(n2326));
    defparam i117_rep_39_2_lut.INIT = "0xeeee";
    (* lut_function="(A+(B+(C)))", lineinfo="@2(52[3],86[10])" *) LUT4 i119_rep_36_3_lut (.A(n159), 
            .B(r_c_3_N_93[5]), .C(r_c_3_N_93[4]), .Z(n2323));
    defparam i119_rep_36_3_lut.INIT = "0xfefe";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@2(52[3],86[10])" *) LUT4 i121_rep_31_4_lut (.A(n159), 
            .B(n88), .C(r_c_3_N_93[5]), .D(r_c_3_N_93[4]), .Z(n2318));
    defparam i121_rep_31_4_lut.INIT = "0xfffe";
    (* lineinfo="@2(52[3],86[10])" *) FD1P3XZ state_FSM_i9 (.D(n402), .SP(VCC_net), 
            .CK(toggle), .SR(state_FSM_illegal), .Q(r_c_3_N_93[8]));
    defparam state_FSM_i9.REGSET = "RESET";
    defparam state_FSM_i9.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@2(52[3],86[10])" *) FD1P3XZ state_FSM_i8 (.D(n137), .SP(VCC_net), 
            .CK(toggle), .SR(state_FSM_illegal), .Q(r_c_3_N_93[7]));
    defparam state_FSM_i8.REGSET = "RESET";
    defparam state_FSM_i8.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@2(52[3],86[10])" *) FD1P3XZ state_FSM_i7 (.D(n418), .SP(VCC_net), 
            .CK(toggle), .SR(state_FSM_illegal), .Q(n88));
    defparam state_FSM_i7.REGSET = "RESET";
    defparam state_FSM_i7.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@2(52[3],86[10])" *) FD1P3XZ state_FSM_i6 (.D(n404), .SP(VCC_net), 
            .CK(toggle), .SR(state_FSM_illegal), .Q(r_c_3_N_93[5]));
    defparam state_FSM_i6.REGSET = "RESET";
    defparam state_FSM_i6.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@2(52[3],86[10])" *) FD1P3XZ state_FSM_i5 (.D(n129), .SP(VCC_net), 
            .CK(toggle), .SR(state_FSM_illegal), .Q(r_c_3_N_93[4]));
    defparam state_FSM_i5.REGSET = "RESET";
    defparam state_FSM_i5.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@2(52[3],86[10])" *) FD1P3XZ state_FSM_i4 (.D(n416), .SP(VCC_net), 
            .CK(toggle), .SR(state_FSM_illegal), .Q(r_c_3_N_93[3]));
    defparam state_FSM_i4.REGSET = "RESET";
    defparam state_FSM_i4.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@2(52[3],86[10])" *) FD1P3XZ state_FSM_i3 (.D(n406), .SP(VCC_net), 
            .CK(toggle), .SR(state_FSM_illegal), .Q(r_c_3_N_93[2]));
    defparam state_FSM_i3.REGSET = "RESET";
    defparam state_FSM_i3.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@2(52[3],86[10])" *) FD1P3XZ state_FSM_i2 (.D(n121), .SP(VCC_net), 
            .CK(toggle), .SR(state_FSM_illegal), .Q(r_c_3_N_93[1]));
    defparam state_FSM_i2.REGSET = "RESET";
    defparam state_FSM_i2.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(34[15],34[26])" *) FD1P3XZ counter_169__i25 (.D(n105[24]), 
            .SP(VCC_net), .CK(toggle), .SR(n500), .Q(counter[24]));
    defparam counter_169__i25.REGSET = "RESET";
    defparam counter_169__i25.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@2(52[3],86[10])" *) FD1P3XZ i132 (.D(n513), .SP(VCC_net), 
            .CK(toggle), .SR(GND_net), .Q(n234));
    defparam i132.REGSET = "RESET";
    defparam i132.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B (C+(D))+!B (C+!(D)))+!A (B (C+(D))+!B (C (D))))", lineinfo="@2(52[3],86[10])" *) LUT4 i118_4_lut (.A(n158), 
            .B(r_c_3_N_93[5]), .C(n159), .D(r_c_3_N_93[4]), .Z(n162));
    defparam i118_4_lut.INIT = "0xfce2";
    (* syn_use_carry_chain=1, lineinfo="@2(34[15],34[26])" *) FD1P3XZ counter_169__i24 (.D(n105[23]), 
            .SP(VCC_net), .CK(toggle), .SR(n500), .Q(counter[23]));
    defparam counter_169__i24.REGSET = "RESET";
    defparam counter_169__i24.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(34[15],34[26])" *) FD1P3XZ counter_169__i23 (.D(n105[22]), 
            .SP(VCC_net), .CK(toggle), .SR(n500), .Q(counter[22]));
    defparam counter_169__i23.REGSET = "RESET";
    defparam counter_169__i23.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(34[15],34[26])" *) FD1P3XZ counter_169__i22 (.D(n105[21]), 
            .SP(VCC_net), .CK(toggle), .SR(n500), .Q(counter[21]));
    defparam counter_169__i22.REGSET = "RESET";
    defparam counter_169__i22.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(34[15],34[26])" *) FD1P3XZ counter_169__i21 (.D(n105[20]), 
            .SP(VCC_net), .CK(toggle), .SR(n500), .Q(counter[20]));
    defparam counter_169__i21.REGSET = "RESET";
    defparam counter_169__i21.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(34[15],34[26])" *) FD1P3XZ counter_169__i20 (.D(n105[19]), 
            .SP(VCC_net), .CK(toggle), .SR(n500), .Q(counter[19]));
    defparam counter_169__i20.REGSET = "RESET";
    defparam counter_169__i20.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(34[15],34[26])" *) FD1P3XZ counter_169__i19 (.D(n105[18]), 
            .SP(VCC_net), .CK(toggle), .SR(n500), .Q(counter[18]));
    defparam counter_169__i19.REGSET = "RESET";
    defparam counter_169__i19.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(34[15],34[26])" *) FD1P3XZ counter_169__i18 (.D(n105[17]), 
            .SP(VCC_net), .CK(toggle), .SR(n500), .Q(counter[17]));
    defparam counter_169__i18.REGSET = "RESET";
    defparam counter_169__i18.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(34[15],34[26])" *) FD1P3XZ counter_169__i17 (.D(n105[16]), 
            .SP(VCC_net), .CK(toggle), .SR(n500), .Q(counter[16]));
    defparam counter_169__i17.REGSET = "RESET";
    defparam counter_169__i17.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(34[15],34[26])" *) FD1P3XZ counter_169__i16 (.D(n105[15]), 
            .SP(VCC_net), .CK(toggle), .SR(n500), .Q(counter[15]));
    defparam counter_169__i16.REGSET = "RESET";
    defparam counter_169__i16.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(34[15],34[26])" *) FD1P3XZ counter_169__i15 (.D(n105[14]), 
            .SP(VCC_net), .CK(toggle), .SR(n500), .Q(counter[14]));
    defparam counter_169__i15.REGSET = "RESET";
    defparam counter_169__i15.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(34[15],34[26])" *) FD1P3XZ counter_169__i14 (.D(n105[13]), 
            .SP(VCC_net), .CK(toggle), .SR(n500), .Q(counter[13]));
    defparam counter_169__i14.REGSET = "RESET";
    defparam counter_169__i14.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(34[15],34[26])" *) FD1P3XZ counter_169__i13 (.D(n105[12]), 
            .SP(VCC_net), .CK(toggle), .SR(n500), .Q(counter[12]));
    defparam counter_169__i13.REGSET = "RESET";
    defparam counter_169__i13.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(34[15],34[26])" *) FD1P3XZ counter_169__i12 (.D(n105[11]), 
            .SP(VCC_net), .CK(toggle), .SR(n500), .Q(counter[11]));
    defparam counter_169__i12.REGSET = "RESET";
    defparam counter_169__i12.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(34[15],34[26])" *) FD1P3XZ counter_169__i11 (.D(n105[10]), 
            .SP(VCC_net), .CK(toggle), .SR(n500), .Q(counter[10]));
    defparam counter_169__i11.REGSET = "RESET";
    defparam counter_169__i11.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(34[15],34[26])" *) FD1P3XZ counter_169__i10 (.D(n105[9]), 
            .SP(VCC_net), .CK(toggle), .SR(n500), .Q(counter[9]));
    defparam counter_169__i10.REGSET = "RESET";
    defparam counter_169__i10.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(34[15],34[26])" *) FD1P3XZ counter_169__i9 (.D(n105[8]), 
            .SP(VCC_net), .CK(toggle), .SR(n500), .Q(counter[8]));
    defparam counter_169__i9.REGSET = "RESET";
    defparam counter_169__i9.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(34[15],34[26])" *) FD1P3XZ counter_169__i8 (.D(n105[7]), 
            .SP(VCC_net), .CK(toggle), .SR(n500), .Q(counter[7]));
    defparam counter_169__i8.REGSET = "RESET";
    defparam counter_169__i8.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(34[15],34[26])" *) FD1P3XZ counter_169__i7 (.D(n105[6]), 
            .SP(VCC_net), .CK(toggle), .SR(n500), .Q(counter[6]));
    defparam counter_169__i7.REGSET = "RESET";
    defparam counter_169__i7.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(34[15],34[26])" *) FD1P3XZ counter_169__i6 (.D(n105[5]), 
            .SP(VCC_net), .CK(toggle), .SR(n500), .Q(counter[5]));
    defparam counter_169__i6.REGSET = "RESET";
    defparam counter_169__i6.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(34[15],34[26])" *) FD1P3XZ counter_169__i5 (.D(n105[4]), 
            .SP(VCC_net), .CK(toggle), .SR(n500), .Q(counter[4]));
    defparam counter_169__i5.REGSET = "RESET";
    defparam counter_169__i5.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(34[15],34[26])" *) FD1P3XZ counter_169__i4 (.D(n105[3]), 
            .SP(VCC_net), .CK(toggle), .SR(n500), .Q(counter[3]));
    defparam counter_169__i4.REGSET = "RESET";
    defparam counter_169__i4.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(34[15],34[26])" *) FD1P3XZ counter_169__i3 (.D(n105[2]), 
            .SP(VCC_net), .CK(toggle), .SR(n500), .Q(n23));
    defparam counter_169__i3.REGSET = "RESET";
    defparam counter_169__i3.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(34[15],34[26])" *) FD1P3XZ counter_169__i2 (.D(n105[1]), 
            .SP(VCC_net), .CK(toggle), .SR(n500), .Q(n24));
    defparam counter_169__i2.REGSET = "RESET";
    defparam counter_169__i2.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B+((D)+!C))+!A (B (C)+!B (C (D))))", lineinfo="@2(52[3],86[10])" *) LUT4 i120_4_lut (.A(n162), 
            .B(n2326), .C(n88), .D(r_c_3_N_93[5]), .Z(n164));
    defparam i120_4_lut.INIT = "0xfaca";
    (* lut_function="(A (B+((D)+!C))+!A (B (C)+!B (C (D))))", lineinfo="@2(52[3],86[10])" *) LUT4 i122_4_lut (.A(n164), 
            .B(n2323), .C(r_c_3_N_93[7]), .D(n88), .Z(n166));
    defparam i122_4_lut.INIT = "0xfaca";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@2(52[3],86[10])" *) LUT4 i123_rep_24_4_lut (.A(n2326), 
            .B(r_c_3_N_93[7]), .C(n88), .D(r_c_3_N_93[5]), .Z(n2311));
    defparam i123_rep_24_4_lut.INIT = "0xfffe";
    (* lut_function="(A (B+((D)+!C))+!A (B (C)+!B (C (D))))", lineinfo="@2(52[3],86[10])" *) LUT4 i124_4_lut (.A(n166), 
            .B(n2318), .C(r_c_3_N_93[8]), .D(r_c_3_N_93[7]), .Z(n168));
    defparam i124_4_lut.INIT = "0xfaca";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@2(52[3],86[10])" *) LUT4 i125_rep_21_4_lut (.A(n2323), 
            .B(r_c_3_N_93[8]), .C(r_c_3_N_93[7]), .D(n88), .Z(n2308));
    defparam i125_rep_21_4_lut.INIT = "0xfffe";
    (* lut_function="(A (B+(C+(D)))+!A (B (C+(D))+!B (C (D)+!C !(D))))", lineinfo="@2(52[3],86[10])" *) LUT4 i114_4_lut (.A(r_c_3_N_93[0]), 
            .B(r_c_3_N_93[3]), .C(r_c_3_N_93[2]), .D(r_c_3_N_93[1]), .Z(n158));
    defparam i114_4_lut.INIT = "0xfee9";
    (* lineinfo="@2(90[16],90[57])" *) ledController a4 ({s}, toggle, led1_c, 
            counter[3], counter[4], counter[11], counter[14], counter[12], 
            counter[18], counter[23], counter[13], counter[24], counter[15], 
            counter[16], counter[20], counter[19], counter[22], counter[10], 
            counter[17], counter[21], counter[6], counter[5], counter[8], 
            counter[9], counter[7], r_c_3_N_93[4], r_c_3_N_93[1], r_c_3_N_93[7], 
            r_c_3_N_93[10], reset_c, led1_c_N_116, seg_c_3, seg_c_0, 
            seg_c_6, seg_c_5, seg_c_4, seg_c_2, seg_c_1);
    (* lineinfo="@2(89[16],89[25])" *) buttonDecoder a3 (c_c_2, c_c_3, c_c_0, 
            c_c_1, n11, {s}, r_c_0, r_c_1, r_c_3, r_c_2, n468);
    VHI i2 (.Z(VCC_net));
    (* lineinfo="@2(52[3],86[10])" *) FD1P3XZ state_FSM_i1 (.D(n414), .SP(VCC_net), 
            .CK(toggle), .SR(state_FSM_illegal), .Q(r_c_3_N_93[0]));
    defparam state_FSM_i1.REGSET = "SET";
    defparam state_FSM_i1.SRMODE = "CE_OVER_LSR";
    
endmodule

//
// Verilog Description of module ledController
//

module ledController (input [3:0]s, input toggle, output led1_c, input \counter[3] , 
            input \counter[4] , input \counter[11] , input \counter[14] , 
            input \counter[12] , input \counter[18] , input \counter[23] , 
            input \counter[13] , input \counter[24] , input \counter[15] , 
            input \counter[16] , input \counter[20] , input \counter[19] , 
            input \counter[22] , input \counter[10] , input \counter[17] , 
            input \counter[21] , input \counter[6] , input \counter[5] , 
            input \counter[8] , input \counter[9] , input \counter[7] , 
            input n90, input n93, input n87, input \r_c_3_N_93[10] , 
            input reset_c, output led1_c_N_116, output seg_c_3, output seg_c_0, 
            output seg_c_6, output seg_c_5, output seg_c_4, output seg_c_2, 
            output seg_c_1);
    
    (* is_clock=1, lineinfo="@3(12[8],12[14])" *) wire toggle;
    
    wire n496;
    (* lineinfo="@4(11[14],11[16])" *) wire [3:0]s1;
    
    wire n503;
    wire [3:0]n64;
    
    wire n485;
    (* lineinfo="@4(11[21],11[27])" *) wire [3:0]ledNum;
    
    wire n450;
    (* lineinfo="@4(11[17],11[19])" *) wire [3:0]s2;
    
    wire n10, n26, n24, n25, n23, n10_adj_131, n1139, n2566, 
        GND_net;
    (* lineinfo="@4(12[18],12[25])" *) wire [24:0]counter;
    wire [24:0]n105;
    
    wire n1137, n2563, n1451, n1135, n2560, n9, canSwitch, n15, 
        n1133, n2557, n8, n512, n1131, n2554, n1129, n2551, 
        n1127, n2548, n1125, n2545, n1123, n2542, n1121, n2539, 
        n24_adj_152, n34, n32, n38, n36, n40, n35, n6, n1119, 
        n2536, n1117, n2533, n2530, VCC_net;
    
    (* LSE_LINE_FILE_ID=73, LSE_LCOL=16, LSE_RCOL=57, LSE_LLINE=90, LSE_RLINE=90, lineinfo="@4(15[12],38[6])" *) FD1P3XZ ledNum_i0_i0 (.D(n64[0]), 
            .SP(n485), .CK(toggle), .SR(GND_net), .Q(ledNum[0]));
    defparam ledNum_i0_i0.REGSET = "RESET";
    defparam ledNum_i0_i0.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=73, LSE_LCOL=16, LSE_RCOL=57, LSE_LLINE=90, LSE_RLINE=90, lineinfo="@4(15[12],38[6])" *) FD1P3XZ toggle_c (.D(n450), 
            .SP(VCC_net), .CK(toggle), .SR(GND_net), .Q(led1_c));
    defparam toggle_c.REGSET = "RESET";
    defparam toggle_c.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=73, LSE_LCOL=16, LSE_RCOL=57, LSE_LLINE=90, LSE_RLINE=90, lineinfo="@4(15[12],38[6])" *) FD1P3XZ s1_i2 (.D(s[2]), 
            .SP(n496), .CK(toggle), .SR(n503), .Q(s1[2]));
    defparam s1_i2.REGSET = "RESET";
    defparam s1_i2.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=73, LSE_LCOL=16, LSE_RCOL=57, LSE_LLINE=90, LSE_RLINE=90, lineinfo="@4(15[12],38[6])" *) FD1P3XZ s1_i3 (.D(s[3]), 
            .SP(n496), .CK(toggle), .SR(n503), .Q(s1[3]));
    defparam s1_i3.REGSET = "RESET";
    defparam s1_i3.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=73, LSE_LCOL=16, LSE_RCOL=57, LSE_LLINE=90, LSE_RLINE=90, lineinfo="@4(15[12],38[6])" *) FD1P3XZ s1_i0 (.D(s[0]), 
            .SP(n496), .CK(toggle), .SR(n503), .Q(s1[0]));
    defparam s1_i0.REGSET = "RESET";
    defparam s1_i0.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=73, LSE_LCOL=16, LSE_RCOL=57, LSE_LLINE=90, LSE_RLINE=90, lineinfo="@4(15[12],38[6])" *) FD1P3XZ s2_i0 (.D(s1[0]), 
            .SP(n496), .CK(toggle), .SR(n503), .Q(s2[0]));
    defparam s2_i0.REGSET = "RESET";
    defparam s2_i0.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=73, LSE_LCOL=16, LSE_RCOL=57, LSE_LLINE=90, LSE_RLINE=90, lineinfo="@4(15[12],38[6])" *) FD1P3XZ s2_i3 (.D(s1[3]), 
            .SP(n496), .CK(toggle), .SR(n503), .Q(s2[3]));
    defparam s2_i3.REGSET = "RESET";
    defparam s2_i3.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=73, LSE_LCOL=16, LSE_RCOL=57, LSE_LLINE=90, LSE_RLINE=90, lineinfo="@4(15[12],38[6])" *) FD1P3XZ ledNum_i0_i3 (.D(n64[3]), 
            .SP(n485), .CK(toggle), .SR(GND_net), .Q(ledNum[3]));
    defparam ledNum_i0_i3.REGSET = "RESET";
    defparam ledNum_i0_i3.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A+(B))" *) LUT4 i211_2_lut (.A(\counter[3] ), .B(\counter[4] ), 
            .Z(n10));
    defparam i211_2_lut.INIT = "0xeeee";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i11_4_lut (.A(\counter[11] ), 
            .B(\counter[14] ), .C(\counter[12] ), .D(\counter[18] ), .Z(n26));
    defparam i11_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i9_4_lut (.A(\counter[23] ), 
            .B(\counter[13] ), .C(\counter[24] ), .D(\counter[15] ), .Z(n24));
    defparam i9_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i10_4_lut (.A(\counter[16] ), 
            .B(\counter[20] ), .C(\counter[19] ), .D(\counter[22] ), .Z(n25));
    defparam i10_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C)))" *) LUT4 i8_3_lut (.A(\counter[10] ), .B(\counter[17] ), 
            .C(\counter[21] ), .Z(n23));
    defparam i8_3_lut.INIT = "0xfefe";
    (* lut_function="(A (B (C (D))))" *) LUT4 i4_4_lut (.A(\counter[6] ), 
            .B(\counter[5] ), .C(n10), .D(\counter[8] ), .Z(n10_adj_131));
    defparam i4_4_lut.INIT = "0x8000";
    (* lineinfo="@4(30[13],30[24])" *) FA2 counter_170_add_4_25 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[23]), .D0(n1139), .CI0(n1139), 
            .A1(GND_net), .B1(GND_net), .C1(counter[24]), .D1(n2566), 
            .CI1(n2566), .CO0(n2566), .S0(n105[23]), .S1(n105[24]));
    defparam counter_170_add_4_25.INIT0 = "0xc33c";
    defparam counter_170_add_4_25.INIT1 = "0xc33c";
    (* lineinfo="@4(30[13],30[24])" *) FA2 counter_170_add_4_23 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[21]), .D0(n1137), .CI0(n1137), 
            .A1(GND_net), .B1(GND_net), .C1(counter[22]), .D1(n2563), 
            .CI1(n2563), .CO0(n2563), .CO1(n1139), .S0(n105[21]), .S1(n105[22]));
    defparam counter_170_add_4_23.INIT0 = "0xc33c";
    defparam counter_170_add_4_23.INIT1 = "0xc33c";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i14_4_lut (.A(n23), .B(n25), 
            .C(n24), .D(n26), .Z(n1451));
    defparam i14_4_lut.INIT = "0xfffe";
    (* lineinfo="@4(30[13],30[24])" *) FA2 counter_170_add_4_21 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[19]), .D0(n1135), .CI0(n1135), 
            .A1(GND_net), .B1(GND_net), .C1(counter[20]), .D1(n2560), 
            .CI1(n2560), .CO0(n2560), .CO1(n1137), .S0(n105[19]), .S1(n105[20]));
    defparam counter_170_add_4_21.INIT0 = "0xc33c";
    defparam counter_170_add_4_21.INIT1 = "0xc33c";
    (* lut_function="(A (B))" *) LUT4 i3_2_lut (.A(\counter[9] ), .B(\counter[7] ), 
            .Z(n9));
    defparam i3_2_lut.INIT = "0x8888";
    (* lut_function="(A (B (C+(D))+!B (C)))", lineinfo="@4(24[7],24[41])" *) LUT4 i9_4_lut_adj_73 (.A(canSwitch), 
            .B(n9), .C(n1451), .D(n10_adj_131), .Z(n15));
    defparam i9_4_lut_adj_73.INIT = "0xa8a0";
    (* lineinfo="@4(30[13],30[24])" *) FA2 counter_170_add_4_19 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[17]), .D0(n1133), .CI0(n1133), 
            .A1(GND_net), .B1(GND_net), .C1(counter[18]), .D1(n2557), 
            .CI1(n2557), .CO0(n2557), .CO1(n1135), .S0(n105[17]), .S1(n105[18]));
    defparam counter_170_add_4_19.INIT0 = "0xc33c";
    defparam counter_170_add_4_19.INIT1 = "0xc33c";
    (* lut_function="(A+(B+(C)))", lineinfo="@4(15[12],38[6])" *) LUT4 i3_3_lut (.A(n90), 
            .B(canSwitch), .C(n93), .Z(n8));
    defparam i3_3_lut.INIT = "0xfefe";
    (* lut_function="(!(A+!(B+(C+(D)))))", lineinfo="@4(15[12],38[6])" *) LUT4 i438_4_lut (.A(n15), 
            .B(n87), .C(n8), .D(\r_c_3_N_93[10] ), .Z(n512));
    defparam i438_4_lut.INIT = "0x5554";
    (* lineinfo="@4(30[13],30[24])" *) FA2 counter_170_add_4_17 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[15]), .D0(n1131), .CI0(n1131), 
            .A1(GND_net), .B1(GND_net), .C1(counter[16]), .D1(n2554), 
            .CI1(n2554), .CO0(n2554), .CO1(n1133), .S0(n105[15]), .S1(n105[16]));
    defparam counter_170_add_4_17.INIT0 = "0xc33c";
    defparam counter_170_add_4_17.INIT1 = "0xc33c";
    (* lineinfo="@4(30[13],30[24])" *) FA2 counter_170_add_4_15 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[13]), .D0(n1129), .CI0(n1129), 
            .A1(GND_net), .B1(GND_net), .C1(counter[14]), .D1(n2551), 
            .CI1(n2551), .CO0(n2551), .CO1(n1131), .S0(n105[13]), .S1(n105[14]));
    defparam counter_170_add_4_15.INIT0 = "0xc33c";
    defparam counter_170_add_4_15.INIT1 = "0xc33c";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(35[6],36[23])" *) LUT4 mux_16_i2_3_lut (.A(s1[1]), 
            .B(s2[1]), .C(led1_c), .Z(n64[1]));
    defparam mux_16_i2_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(35[6],36[23])" *) LUT4 mux_16_i3_3_lut (.A(s1[2]), 
            .B(s2[2]), .C(led1_c), .Z(n64[2]));
    defparam mux_16_i3_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(35[6],36[23])" *) LUT4 mux_16_i4_3_lut (.A(s1[3]), 
            .B(s2[3]), .C(led1_c), .Z(n64[3]));
    defparam mux_16_i4_3_lut.INIT = "0xcaca";
    (* lineinfo="@4(30[13],30[24])" *) FA2 counter_170_add_4_13 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[11]), .D0(n1127), .CI0(n1127), 
            .A1(GND_net), .B1(GND_net), .C1(counter[12]), .D1(n2548), 
            .CI1(n2548), .CO0(n2548), .CO1(n1129), .S0(n105[11]), .S1(n105[12]));
    defparam counter_170_add_4_13.INIT0 = "0xc33c";
    defparam counter_170_add_4_13.INIT1 = "0xc33c";
    (* lineinfo="@4(30[13],30[24])" *) FA2 counter_170_add_4_11 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[9]), .D0(n1125), .CI0(n1125), 
            .A1(GND_net), .B1(GND_net), .C1(counter[10]), .D1(n2545), 
            .CI1(n2545), .CO0(n2545), .CO1(n1127), .S0(n105[9]), .S1(n105[10]));
    defparam counter_170_add_4_11.INIT0 = "0xc33c";
    defparam counter_170_add_4_11.INIT1 = "0xc33c";
    (* lineinfo="@4(30[13],30[24])" *) FA2 counter_170_add_4_9 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[7]), .D0(n1123), .CI0(n1123), 
            .A1(GND_net), .B1(GND_net), .C1(counter[8]), .D1(n2542), 
            .CI1(n2542), .CO0(n2542), .CO1(n1125), .S0(n105[7]), .S1(n105[8]));
    defparam counter_170_add_4_9.INIT0 = "0xc33c";
    defparam counter_170_add_4_9.INIT1 = "0xc33c";
    (* lineinfo="@4(30[13],30[24])" *) FA2 counter_170_add_4_7 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[5]), .D0(n1121), .CI0(n1121), 
            .A1(GND_net), .B1(GND_net), .C1(counter[6]), .D1(n2539), 
            .CI1(n2539), .CO0(n2539), .CO1(n1123), .S0(n105[5]), .S1(n105[6]));
    defparam counter_170_add_4_7.INIT0 = "0xc33c";
    defparam counter_170_add_4_7.INIT1 = "0xc33c";
    (* lut_function="(!(A (B)+!A !(B)))" *) LUT4 i1_2_lut (.A(led1_c), .B(n485), 
            .Z(n450));
    defparam i1_2_lut.INIT = "0x6666";
    (* lut_function="(A+(B))", lineinfo="@4(31[7],31[21])" *) LUT4 i3_2_lut_adj_74 (.A(counter[10]), 
            .B(counter[15]), .Z(n24_adj_152));
    defparam i3_2_lut_adj_74.INIT = "0xeeee";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@4(31[7],31[21])" *) LUT4 i13_4_lut (.A(counter[0]), 
            .B(counter[20]), .C(counter[17]), .D(counter[23]), .Z(n34));
    defparam i13_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C)))", lineinfo="@4(31[7],31[21])" *) LUT4 i11_3_lut (.A(counter[16]), 
            .B(counter[14]), .C(counter[24]), .Z(n32));
    defparam i11_3_lut.INIT = "0xfefe";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@4(31[7],31[21])" *) LUT4 i17_4_lut (.A(counter[22]), 
            .B(n34), .C(n24_adj_152), .D(counter[8]), .Z(n38));
    defparam i17_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@4(31[7],31[21])" *) LUT4 i15_4_lut (.A(counter[12]), 
            .B(counter[19]), .C(counter[11]), .D(counter[21]), .Z(n36));
    defparam i15_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@4(31[7],31[21])" *) LUT4 i19_4_lut (.A(counter[7]), 
            .B(n38), .C(n32), .D(counter[18]), .Z(n40));
    defparam i19_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@4(31[7],31[21])" *) LUT4 i14_4_lut_adj_75 (.A(counter[4]), 
            .B(counter[13]), .C(counter[9]), .D(counter[3]), .Z(n35));
    defparam i14_4_lut_adj_75.INIT = "0xfffe";
    (* lut_function="(A+((C+(D))+!B))" *) LUT4 i1_4_lut (.A(n35), .B(counter[6]), 
            .C(n40), .D(n36), .Z(n6));
    defparam i1_4_lut.INIT = "0xfffb";
    (* lut_function="(!((((D)+!C)+!B)+!A))", lineinfo="@4(31[7],31[21])" *) LUT4 i1670_4_lut (.A(counter[2]), 
            .B(counter[5]), .C(counter[1]), .D(n6), .Z(n485));
    defparam i1670_4_lut.INIT = "0x0080";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(35[6],36[23])" *) LUT4 mux_16_i1_3_lut (.A(s1[0]), 
            .B(s2[0]), .C(led1_c), .Z(n64[0]));
    defparam mux_16_i1_3_lut.INIT = "0xcaca";
    (* lut_function="(!(A+(B)))" *) LUT4 i1663_2_lut (.A(reset_c), .B(n15), 
            .Z(n503));
    defparam i1663_2_lut.INIT = "0x1111";
    (* lut_function="((B)+!A)" *) LUT4 i1_2_lut_adj_76 (.A(reset_c), .B(n15), 
            .Z(n496));
    defparam i1_2_lut_adj_76.INIT = "0xdddd";
    (* lineinfo="@4(30[13],30[24])" *) FA2 counter_170_add_4_5 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[3]), .D0(n1119), .CI0(n1119), 
            .A1(GND_net), .B1(GND_net), .C1(counter[4]), .D1(n2536), 
            .CI1(n2536), .CO0(n2536), .CO1(n1121), .S0(n105[3]), .S1(n105[4]));
    defparam counter_170_add_4_5.INIT0 = "0xc33c";
    defparam counter_170_add_4_5.INIT1 = "0xc33c";
    (* lut_function="(!(A))", lineinfo="@4(42[16],42[23])" *) LUT4 led1_c_I_0_1_lut (.A(led1_c), 
            .Z(led1_c_N_116));
    defparam led1_c_I_0_1_lut.INIT = "0x5555";
    (* LSE_LINE_FILE_ID=73, LSE_LCOL=16, LSE_RCOL=57, LSE_LLINE=90, LSE_RLINE=90, lineinfo="@4(15[12],38[6])" *) FD1P3XZ ledNum_i0_i2 (.D(n64[2]), 
            .SP(n485), .CK(toggle), .SR(GND_net), .Q(ledNum[2]));
    defparam ledNum_i0_i2.REGSET = "RESET";
    defparam ledNum_i0_i2.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=73, LSE_LCOL=16, LSE_RCOL=57, LSE_LLINE=90, LSE_RLINE=90, lineinfo="@4(15[12],38[6])" *) FD1P3XZ ledNum_i0_i1 (.D(n64[1]), 
            .SP(n485), .CK(toggle), .SR(GND_net), .Q(ledNum[1]));
    defparam ledNum_i0_i1.REGSET = "RESET";
    defparam ledNum_i0_i1.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=73, LSE_LCOL=16, LSE_RCOL=57, LSE_LLINE=90, LSE_RLINE=90, lineinfo="@4(15[12],38[6])" *) FD1P3XZ canSwitch_c (.D(n512), 
            .SP(VCC_net), .CK(toggle), .SR(GND_net), .Q(canSwitch));
    defparam canSwitch_c.REGSET = "RESET";
    defparam canSwitch_c.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=73, LSE_LCOL=16, LSE_RCOL=57, LSE_LLINE=90, LSE_RLINE=90, lineinfo="@4(15[12],38[6])" *) FD1P3XZ s2_i1 (.D(s1[1]), 
            .SP(n496), .CK(toggle), .SR(n503), .Q(s2[1]));
    defparam s2_i1.REGSET = "RESET";
    defparam s2_i1.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@4(30[13],30[24])" *) FD1P3XZ counter_170__i0 (.D(n105[0]), 
            .SP(VCC_net), .CK(toggle), .SR(n485), .Q(counter[0]));
    defparam counter_170__i0.REGSET = "RESET";
    defparam counter_170__i0.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=73, LSE_LCOL=16, LSE_RCOL=57, LSE_LLINE=90, LSE_RLINE=90, lineinfo="@4(15[12],38[6])" *) FD1P3XZ s2_i2 (.D(s1[2]), 
            .SP(n496), .CK(toggle), .SR(n503), .Q(s2[2]));
    defparam s2_i2.REGSET = "RESET";
    defparam s2_i2.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@4(30[13],30[24])" *) FD1P3XZ counter_170__i24 (.D(n105[24]), 
            .SP(VCC_net), .CK(toggle), .SR(n485), .Q(counter[24]));
    defparam counter_170__i24.REGSET = "RESET";
    defparam counter_170__i24.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@4(30[13],30[24])" *) FD1P3XZ counter_170__i23 (.D(n105[23]), 
            .SP(VCC_net), .CK(toggle), .SR(n485), .Q(counter[23]));
    defparam counter_170__i23.REGSET = "RESET";
    defparam counter_170__i23.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@4(30[13],30[24])" *) FD1P3XZ counter_170__i22 (.D(n105[22]), 
            .SP(VCC_net), .CK(toggle), .SR(n485), .Q(counter[22]));
    defparam counter_170__i22.REGSET = "RESET";
    defparam counter_170__i22.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@4(30[13],30[24])" *) FD1P3XZ counter_170__i21 (.D(n105[21]), 
            .SP(VCC_net), .CK(toggle), .SR(n485), .Q(counter[21]));
    defparam counter_170__i21.REGSET = "RESET";
    defparam counter_170__i21.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@4(30[13],30[24])" *) FD1P3XZ counter_170__i20 (.D(n105[20]), 
            .SP(VCC_net), .CK(toggle), .SR(n485), .Q(counter[20]));
    defparam counter_170__i20.REGSET = "RESET";
    defparam counter_170__i20.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@4(30[13],30[24])" *) FD1P3XZ counter_170__i19 (.D(n105[19]), 
            .SP(VCC_net), .CK(toggle), .SR(n485), .Q(counter[19]));
    defparam counter_170__i19.REGSET = "RESET";
    defparam counter_170__i19.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@4(30[13],30[24])" *) FD1P3XZ counter_170__i18 (.D(n105[18]), 
            .SP(VCC_net), .CK(toggle), .SR(n485), .Q(counter[18]));
    defparam counter_170__i18.REGSET = "RESET";
    defparam counter_170__i18.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@4(30[13],30[24])" *) FD1P3XZ counter_170__i17 (.D(n105[17]), 
            .SP(VCC_net), .CK(toggle), .SR(n485), .Q(counter[17]));
    defparam counter_170__i17.REGSET = "RESET";
    defparam counter_170__i17.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@4(30[13],30[24])" *) FD1P3XZ counter_170__i16 (.D(n105[16]), 
            .SP(VCC_net), .CK(toggle), .SR(n485), .Q(counter[16]));
    defparam counter_170__i16.REGSET = "RESET";
    defparam counter_170__i16.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@4(30[13],30[24])" *) FD1P3XZ counter_170__i15 (.D(n105[15]), 
            .SP(VCC_net), .CK(toggle), .SR(n485), .Q(counter[15]));
    defparam counter_170__i15.REGSET = "RESET";
    defparam counter_170__i15.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@4(30[13],30[24])" *) FD1P3XZ counter_170__i14 (.D(n105[14]), 
            .SP(VCC_net), .CK(toggle), .SR(n485), .Q(counter[14]));
    defparam counter_170__i14.REGSET = "RESET";
    defparam counter_170__i14.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@4(30[13],30[24])" *) FD1P3XZ counter_170__i13 (.D(n105[13]), 
            .SP(VCC_net), .CK(toggle), .SR(n485), .Q(counter[13]));
    defparam counter_170__i13.REGSET = "RESET";
    defparam counter_170__i13.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@4(30[13],30[24])" *) FD1P3XZ counter_170__i12 (.D(n105[12]), 
            .SP(VCC_net), .CK(toggle), .SR(n485), .Q(counter[12]));
    defparam counter_170__i12.REGSET = "RESET";
    defparam counter_170__i12.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@4(30[13],30[24])" *) FD1P3XZ counter_170__i11 (.D(n105[11]), 
            .SP(VCC_net), .CK(toggle), .SR(n485), .Q(counter[11]));
    defparam counter_170__i11.REGSET = "RESET";
    defparam counter_170__i11.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@4(30[13],30[24])" *) FD1P3XZ counter_170__i10 (.D(n105[10]), 
            .SP(VCC_net), .CK(toggle), .SR(n485), .Q(counter[10]));
    defparam counter_170__i10.REGSET = "RESET";
    defparam counter_170__i10.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@4(30[13],30[24])" *) FD1P3XZ counter_170__i9 (.D(n105[9]), 
            .SP(VCC_net), .CK(toggle), .SR(n485), .Q(counter[9]));
    defparam counter_170__i9.REGSET = "RESET";
    defparam counter_170__i9.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@4(30[13],30[24])" *) FD1P3XZ counter_170__i8 (.D(n105[8]), 
            .SP(VCC_net), .CK(toggle), .SR(n485), .Q(counter[8]));
    defparam counter_170__i8.REGSET = "RESET";
    defparam counter_170__i8.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@4(30[13],30[24])" *) FD1P3XZ counter_170__i7 (.D(n105[7]), 
            .SP(VCC_net), .CK(toggle), .SR(n485), .Q(counter[7]));
    defparam counter_170__i7.REGSET = "RESET";
    defparam counter_170__i7.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@4(30[13],30[24])" *) FD1P3XZ counter_170__i6 (.D(n105[6]), 
            .SP(VCC_net), .CK(toggle), .SR(n485), .Q(counter[6]));
    defparam counter_170__i6.REGSET = "RESET";
    defparam counter_170__i6.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@4(30[13],30[24])" *) FD1P3XZ counter_170__i5 (.D(n105[5]), 
            .SP(VCC_net), .CK(toggle), .SR(n485), .Q(counter[5]));
    defparam counter_170__i5.REGSET = "RESET";
    defparam counter_170__i5.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@4(30[13],30[24])" *) FD1P3XZ counter_170__i4 (.D(n105[4]), 
            .SP(VCC_net), .CK(toggle), .SR(n485), .Q(counter[4]));
    defparam counter_170__i4.REGSET = "RESET";
    defparam counter_170__i4.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@4(30[13],30[24])" *) FD1P3XZ counter_170__i3 (.D(n105[3]), 
            .SP(VCC_net), .CK(toggle), .SR(n485), .Q(counter[3]));
    defparam counter_170__i3.REGSET = "RESET";
    defparam counter_170__i3.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@4(30[13],30[24])" *) FD1P3XZ counter_170__i2 (.D(n105[2]), 
            .SP(VCC_net), .CK(toggle), .SR(n485), .Q(counter[2]));
    defparam counter_170__i2.REGSET = "RESET";
    defparam counter_170__i2.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@4(30[13],30[24])" *) FD1P3XZ counter_170__i1 (.D(n105[1]), 
            .SP(VCC_net), .CK(toggle), .SR(n485), .Q(counter[1]));
    defparam counter_170__i1.REGSET = "RESET";
    defparam counter_170__i1.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(30[13],30[24])" *) FA2 counter_170_add_4_3 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[1]), .D0(n1117), .CI0(n1117), 
            .A1(GND_net), .B1(GND_net), .C1(counter[2]), .D1(n2533), 
            .CI1(n2533), .CO0(n2533), .CO1(n1119), .S0(n105[1]), .S1(n105[2]));
    defparam counter_170_add_4_3.INIT0 = "0xc33c";
    defparam counter_170_add_4_3.INIT1 = "0xc33c";
    (* lineinfo="@4(30[13],30[24])" *) FA2 counter_170_add_4_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(VCC_net), 
            .C1(counter[0]), .D1(n2530), .CI1(n2530), .CO0(n2530), .CO1(n1117), 
            .S1(n105[0]));
    defparam counter_170_add_4_1.INIT0 = "0xc33c";
    defparam counter_170_add_4_1.INIT1 = "0xc33c";
    (* lineinfo="@4(45[15],45[29])" *) sevenSegment a5 ({ledNum}, seg_c_3, 
            seg_c_0, seg_c_6, seg_c_5, seg_c_4, seg_c_2, seg_c_1);
    VHI i2 (.Z(VCC_net));
    (* LSE_LINE_FILE_ID=73, LSE_LCOL=16, LSE_RCOL=57, LSE_LLINE=90, LSE_RLINE=90, lineinfo="@4(15[12],38[6])" *) FD1P3XZ s1_i1 (.D(s[1]), 
            .SP(n496), .CK(toggle), .SR(n503), .Q(s1[1]));
    defparam s1_i1.REGSET = "RESET";
    defparam s1_i1.SRMODE = "CE_OVER_LSR";
    VLO i1 (.Z(GND_net));
    
endmodule

//
// Verilog Description of module sevenSegment
//

module sevenSegment (input [3:0]ledNum, output seg_c_3, output seg_c_0, 
            output seg_c_6, output seg_c_5, output seg_c_4, output seg_c_2, 
            output seg_c_1);
    
    
    (* lut_function="(A (B (C+(D))+!B !((D)+!C))+!A !(B ((D)+!C)+!B !(C (D))))", lineinfo="@5(14[3],33[10])" *) LUT4 seg_c_3_I_0_4_lut (.A(ledNum[1]), 
            .B(ledNum[3]), .C(ledNum[2]), .D(ledNum[0]), .Z(seg_c_3));
    defparam seg_c_3_I_0_4_lut.INIT = "0x98e0";
    (* lut_function="(!(A (B+!(C))+!A (B ((D)+!C)+!B !(C+(D)))))", lineinfo="@5(14[3],33[10])" *) LUT4 ledNum_3__I_0_4_lut (.A(ledNum[1]), 
            .B(ledNum[3]), .C(ledNum[0]), .D(ledNum[2]), .Z(seg_c_0));
    defparam ledNum_3__I_0_4_lut.INIT = "0x3170";
    (* lut_function="(!(A ((C+!(D))+!B)+!A (B (C+(D))+!B !(C (D)+!C !(D)))))", lineinfo="@5(14[3],33[10])" *) LUT4 seg_c_6_I_0_4_lut (.A(ledNum[1]), 
            .B(ledNum[0]), .C(ledNum[3]), .D(ledNum[2]), .Z(seg_c_6));
    defparam seg_c_6_I_0_4_lut.INIT = "0x1805";
    (* lut_function="(!(A (B ((D)+!C)+!B !((D)+!C))+!A (B+(C+!(D)))))", lineinfo="@5(14[3],33[10])" *) LUT4 seg_c_5_I_0_4_lut (.A(ledNum[0]), 
            .B(ledNum[3]), .C(ledNum[2]), .D(ledNum[1]), .Z(seg_c_5));
    defparam seg_c_5_I_0_4_lut.INIT = "0x2382";
    (* lut_function="(!(A (B+!(C (D)+!C !(D)))+!A !(B (C (D))+!B !(C+!(D)))))", lineinfo="@5(14[3],33[10])" *) LUT4 seg_c_4_I_0_4_lut (.A(ledNum[2]), 
            .B(ledNum[1]), .C(ledNum[3]), .D(ledNum[0]), .Z(seg_c_4));
    defparam seg_c_4_I_0_4_lut.INIT = "0x6102";
    (* lut_function="(A (B (C (D)))+!A (B (D)+!B !((D)+!C)))", lineinfo="@5(14[3],33[10])" *) LUT4 seg_c_2_I_0_4_lut (.A(ledNum[0]), 
            .B(ledNum[3]), .C(ledNum[1]), .D(ledNum[2]), .Z(seg_c_2));
    defparam seg_c_2_I_0_4_lut.INIT = "0xc410";
    (* lut_function="(A (B (C (D))+!B (C (D)+!C !(D)))+!A !(B (C+!(D))+!B ((D)+!C)))", lineinfo="@5(14[3],33[10])" *) LUT4 seg_c_1_I_0_4_lut (.A(ledNum[0]), 
            .B(ledNum[3]), .C(ledNum[2]), .D(ledNum[1]), .Z(seg_c_1));
    defparam seg_c_1_I_0_4_lut.INIT = "0xa412";
    
endmodule

//
// Verilog Description of module buttonDecoder
//

module buttonDecoder (input c_c_2, input c_c_3, input c_c_0, input c_c_1, 
            input n11, output [3:0]s, input r_c_0, input r_c_1, input r_c_3, 
            input r_c_2, input n468);
    
    
    wire n11_c, n11_adj_122, n14, n14_adj_124, n1591, n1004, n15, 
        n1002, n14_adj_125, n15_adj_126, n8, n14_adj_127, n6, n1065, 
        n11_adj_128, n1081, n15_adj_129, n1057, n4, n4_adj_130;
    
    (* lut_function="(A+(B+((D)+!C)))", lineinfo="@1(17[4],17[23])" *) LUT4 i2_3_lut_4_lut (.A(c_c_2), 
            .B(c_c_3), .C(c_c_0), .D(c_c_1), .Z(n11_c));
    defparam i2_3_lut_4_lut.INIT = "0xffef";
    (* lut_function="(A+(B+(C+!(D))))", lineinfo="@1(17[4],17[23])" *) LUT4 i2_3_lut_4_lut_adj_66 (.A(c_c_2), 
            .B(c_c_3), .C(c_c_0), .D(c_c_1), .Z(n11_adj_122));
    defparam i2_3_lut_4_lut_adj_66.INIT = "0xfeff";
    (* lut_function="(A (B+(D))+!A (B (C)+!B (C (D))))" *) LUT4 i1_4_lut (.A(n11), 
            .B(n11_c), .C(n14), .D(n14_adj_124), .Z(n1591));
    defparam i1_4_lut.INIT = "0xfac8";
    (* lut_function="(!(A (B (C (D)))))" *) LUT4 i1677_4_lut (.A(n1004), .B(n15), 
            .C(n1002), .D(n1591), .Z(s[0]));
    defparam i1677_4_lut.INIT = "0x7fff";
    (* lut_function="(A+(B))", lineinfo="@1(20[4],20[23])" *) LUT4 equal_15_i15_2_lut (.A(n11_c), 
            .B(n14_adj_125), .Z(n15_adj_126));
    defparam equal_15_i15_2_lut.INIT = "0xeeee";
    (* lut_function="(!(A (B (C))+!A (B (C (D)))))" *) LUT4 i1654_4_lut (.A(n11_adj_122), 
            .B(n8), .C(n15_adj_126), .D(n14_adj_127), .Z(s[3]));
    defparam i1654_4_lut.INIT = "0x3f7f";
    (* lut_function="(A+(B+(C+!(D))))", lineinfo="@1(10[4],10[23])" *) LUT4 i2_3_lut_4_lut_adj_67 (.A(r_c_0), 
            .B(r_c_1), .C(r_c_3), .D(r_c_2), .Z(n14_adj_127));
    defparam i2_3_lut_4_lut_adj_67.INIT = "0xfeff";
    (* lut_function="(A+(B+((D)+!C)))", lineinfo="@1(10[4],10[23])" *) LUT4 i2_3_lut_4_lut_adj_68 (.A(r_c_0), 
            .B(r_c_1), .C(r_c_3), .D(r_c_2), .Z(n14_adj_125));
    defparam i2_3_lut_4_lut_adj_68.INIT = "0xffef";
    (* lut_function="(A (B))" *) LUT4 i2_2_lut (.A(n14_adj_124), .B(n14_adj_125), 
            .Z(n6));
    defparam i2_2_lut.INIT = "0x8888";
    (* lut_function="(A+(B (C (D))))" *) LUT4 i1001_4_lut (.A(n11), .B(n14), 
            .C(n6), .D(n14_adj_127), .Z(n1065));
    defparam i1001_4_lut.INIT = "0xeaaa";
    (* lut_function="(A (B+(D))+!A (B (C)+!B (C (D))))" *) LUT4 i929_4_lut (.A(n11_c), 
            .B(n11_adj_122), .C(n14_adj_127), .D(n14), .Z(n1002));
    defparam i929_4_lut.INIT = "0xfac8";
    (* lut_function="((B)+!A)", lineinfo="@1(8[4],8[23])" *) LUT4 i1_2_lut (.A(c_c_2), 
            .B(n468), .Z(n11_adj_128));
    defparam i1_2_lut.INIT = "0xdddd";
    (* lut_function="(!(A (B (C)+!B (C (D)))))" *) LUT4 i1667_4_lut (.A(n1002), 
            .B(n14), .C(n1065), .D(n1081), .Z(s[2]));
    defparam i1667_4_lut.INIT = "0x5f7f";
    (* lut_function="(A+(B+((D)+!C)))", lineinfo="@1(8[4],8[23])" *) LUT4 i2_3_lut_4_lut_adj_69 (.A(r_c_2), 
            .B(r_c_3), .C(r_c_0), .D(r_c_1), .Z(n14_adj_124));
    defparam i2_3_lut_4_lut_adj_69.INIT = "0xffef";
    (* lut_function="(A+(B+(C+!(D))))", lineinfo="@1(8[4],8[23])" *) LUT4 i2_3_lut_4_lut_adj_70 (.A(r_c_2), 
            .B(r_c_3), .C(r_c_0), .D(r_c_1), .Z(n14));
    defparam i2_3_lut_4_lut_adj_70.INIT = "0xfeff";
    (* lut_function="(A (B (C)+!B (C (D)))+!A (B (C)))", lineinfo="@1(10[4],10[23])" *) LUT4 i1_4_lut_4_lut (.A(n11_adj_128), 
            .B(n14_adj_125), .C(n15_adj_129), .D(n11), .Z(n1004));
    defparam i1_4_lut_4_lut.INIT = "0xe0c0";
    (* lut_function="(A (C (D))+!A (B (C (D))))", lineinfo="@1(10[4],10[23])" *) LUT4 i3_3_lut_4_lut (.A(n11_adj_128), 
            .B(n14_adj_125), .C(n1065), .D(n15), .Z(n8));
    defparam i3_3_lut_4_lut.INIT = "0xe000";
    (* lut_function="(A (B))" *) LUT4 i945_2_lut (.A(n11_c), .B(n11), .Z(n1057));
    defparam i945_2_lut.INIT = "0x8888";
    (* lut_function="(A (B+(D))+!A (B (C)+!B (C (D))))" *) LUT4 i1_4_lut_adj_71 (.A(n11_adj_128), 
            .B(n14_adj_127), .C(n14), .D(n1057), .Z(n4));
    defparam i1_4_lut_adj_71.INIT = "0xfac8";
    (* lut_function="(A (B))" *) LUT4 i1_2_lut_adj_72 (.A(n1004), .B(n15_adj_126), 
            .Z(n4_adj_130));
    defparam i1_2_lut_adj_72.INIT = "0x8888";
    (* lut_function="(!(A (B (C))+!A (B (C (D)))))" *) LUT4 i1657_4_lut (.A(n11_adj_122), 
            .B(n4_adj_130), .C(n4), .D(n14_adj_124), .Z(s[1]));
    defparam i1657_4_lut.INIT = "0x3f7f";
    (* lut_function="(A ((C)+!B))" *) LUT4 i983_2_lut_3_lut (.A(n11_c), .B(c_c_2), 
            .C(n468), .Z(n1081));
    defparam i983_2_lut_3_lut.INIT = "0xa2a2";
    (* lut_function="((B+(C))+!A)", lineinfo="@1(13[4],13[23])" *) LUT4 equal_8_i15_2_lut_3_lut (.A(c_c_2), 
            .B(n468), .C(n14_adj_127), .Z(n15));
    defparam equal_8_i15_2_lut_3_lut.INIT = "0xfdfd";
    (* lut_function="((B+(C))+!A)", lineinfo="@1(8[4],8[23])" *) LUT4 equal_3_i15_2_lut_3_lut (.A(c_c_2), 
            .B(n468), .C(n14_adj_124), .Z(n15_adj_129));
    defparam equal_3_i15_2_lut_3_lut.INIT = "0xfdfd";
    
endmodule
